.DS_Store
.env
extraction/.env
transform/.env
transform/dbt_internal_packages/
__pycache__/
*.pyc
*.egg-info/
extraction/.env
extraction/.meltano/
extraction/venv/
extraction/output/
extraction/plugins/
transform/venv/
transform/.dbt/
transform/dbt_packages/
transform/package-lock.yml
transform/logs/
transform/target/
transform/.user.yml
transform/profiles.yml
